/* Old CSS */

body {
	font-family: 'Maven Pro', sans-serif;
}

.nav-justified > li > a {
	color: white;
	text-shadow: 1px 1px 2px black;
}

.nav-justified > li > a:hover {
	color:#015776;
	text-decoration: underline;
}

.nav-justified > li:first-child > a {
	background: transparent;
}
.jumbotron {
	border:none;
	background: none;
}
.jumbotron p{
	font-size: 18px;
	color:#999;
	color:#26869E;
}

#menunav.navbar {
	margin-top: 155px;
}

/* New CSS */

a {
	color:#BBBBBB;
	text-decoration:underline;
}

.nav {
	padding-left:0;
}

.navbar {
	height:50px;
}

.navbar-default {
	background:#015776;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}

.navbar-default .navbar-nav > .active > a:hover {
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:underline;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active {
	color:#FFFFFF;
	text-decoration:none;
	padding-top:13px;
	padding-bottom:13px;
	padding-left: 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
	color:#FFFFFF;
	text-decoration:underline;	
	padding-top:13px;
	padding-bottom:13px;
} 

ul.nav.nav-justified li {
  border-right: 1px solid #BBBBBB;
  margin: 10px 0px;
}

ul.nav.nav-justified li:last-of-type {
  border-right: 0px none;
}

.header {
	background:#EEF6F7 url('../images/index_background.png') no-repeat;
	margin-top: 30px;
	margin-bottom:30px;
	padding-top: 30px;
}

#menunav.navbar {
	margin-top:0;
	padding-top:10px;
	padding-bottom:10px;
	float: right;
}

.nav-justified > li > a, .nav-justified > li:last-child > a  {
	color: #015776;
	text-decoration:none;
	text-shadow:none;
	font-size:14px;
}

.nav-justified > li > a:hover, .nav-justified > li:last-child > a:hover  {
	color: #015776;
	text-decoration:underline;
}

p.lead {
	color:#BBBBBB;
	font-size:13px;
}

.bottom0 {
	margin-bottom:0px;
}

.carousel {
	height:450px;
}

.item {
	height:450px;	
}

.smallcenter > h4 {
	color:#BBBBBB;
}

.smallcenter > p {
	margin:auto;
	color:#BBBBBB;
	font-family:'Maven Pro', sans-serif;
}

.glyphicon.glyphicon-chevron-left, .glyphicon.glyphicon-chevron-right {
	color:#BBBBBB;
	font-size:50px;
	width:50px;
	height:50px;
}

.glyphicon.glyphicon-chevron-left:hover, .glyphicon.glyphicon-chevron-left:focus, .glyphicon.glyphicon-chevron-left:active, .glyphicon.glyphicon-chevron-right:hover, .glyphicon.glyphicon-chevron-right:active, .glyphicon.glyphicon-chevron-right:focus {
	color:#015776;
}

.carousel-control, .carousel-control:hover, .carousel-control:focus  {
	text-shadow:none;
	opacity:initial;
}

.carousel-control.right, .carousel-control.left  {
	background:none;
}

.carousel-indicators li {
	background-color:#BBBBBB;
	border:none;
	width:15px;
	height:15px;
}

.carousel-indicators li.active, .carousel-indicators li:hover {
	background-color:#015776;
	border:none;
	width:15px;
	height:15px;
}

.logos {
	background-color: #CCCCCC;
	padding-top:25px;
	padding-bottom:25px;
}

.footer {
	height:100px;
	background-color:#015776;
	border-top:transparent;
	margin-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}

.footer p {
	color:#FFFFFF;
}

.footer p > a, a:hover {
	color:#BBBBBB;
}

.font10 {
	font-size:10px;
}

.cg_internal.btn.btn-primary, .cg_internal.btn.btn-primary:hover {
	background-color:#015776 !important;
	color:#FFFFFF !important;
	margin-left:20px;
}